<%- include('partials/header') -%>

    <div class="container ">

        <a class="btn btn-primary ml-3 d-none" href="/users" id="users_back">
            Back to users
        </a>

        <div class="row">

            <% for(var i=0; i<data.length; i++){ %>
                <div class="col-12 col-md-6 col-lg-4 ">
                    <div class="card my-4 mx-2 rounded-2 bd-shadow-2">
                        <div class="card-body">
                            <h5 class="card-title d-flex justify-content-between align-items-center">Test name: <%= data[i].testName %> 
                                <span class='adminAccess2' style="display: none;">
                                    <form action="/tests/<%=data[i]._id%>?_method=DELETE" method="POST">
                                        <button class="btn p-1 d-inline">
                                            <svg class="bi bi-x-circle text-secondary" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z" clip-rule="evenodd"/>
                                                <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                                                <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                                              </svg>
                                        </button>
                                    </form>
                                </span>
                            </h5>
                            <p class="card-text">
                                <p class="p-0 m-0 text-secondary small-text">Posted on: <%= data[i].updated.toLocaleString() %></p>
                                Results of a single mole test: 
                                <ul>
                                    <li>Number of questions</li>
                                    <li>Number of iterations</li>
                                    <li>Question details</li>
                                    <li>Result details</li>
                                    <li>Best guess</li>
                                </ul>
                            </p>

                            <a href="/tests/<%=data[i]._id%>" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            <% } %>
         
        </div>

        <hr class="shadow-1">

        <div id="printPDF" v-cloak class="my-4">
            <div>
                <button class="btn btn-secondary py-2 px-3" @click="toDisplay">Print them as PDF
                    <svg v-show="isHidden" class="bi bi-caret-down" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
                    </svg>

                    <svg v-show="!isHidden" class="bi bi-caret-up" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z" />
                    </svg>
                </button>
            </div>

            <div class="pdf-selection my-3" v-show="!isHidden">
                <h4 class="text-dark text-indent-1">Select the tests that you want to print as pdf</h4>
                <div class="d-flex flex-wrap">
                    <span class="testInfo-box" v-for="(test, testIdx) in tests" @click="toggleCollections(testIdx, $event)">
                        Test name : {{test.testName}}
                    </span>
                </div>

                <div class="d-flex justify-content-end">
                    <button class="btn btn-success px-5 py-2" v-show="printList.length > 0" @click="toPrint">Print</button>
                </div>
            </div>

            <div id="printArea" class="d-none"></div>
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
    <script>
        var results =<%-JSON.stringify(data)%>;
        var user_id = <%- JSON.stringify(userInfo._id)%>;
        var user_role = <%- JSON.stringify(userInfo.role) %>;

        const receivedData = {
            results : results,
            user_id : user_id,
            user_role : user_role
        }
        //console.log('-Response from GET request to /tests\n',results);

        if(user_role == 'admin'){

            //show alert



            //show delete buttons
            let deleteDOMs = document.querySelectorAll('.adminAccess2');
            if(deleteDOMs){
                deleteDOMs.forEach(function(dom){
                    dom.style.display = 'inline-block';
                })
                //deleteDOM.style.display = 'block';
            }

            //show back button to users
            if(window.location.search.includes('inspectID')){
                //console.log('show a back button');
                document.querySelector('#users_back').classList.remove('d-none');
            }
            
        }

        var printPDF = new Vue({
            el : "#printPDF",
            data : {
                tests : results,
                printList: [],
                isHidden : true
            },

            methods : {
                toDisplay : function(){
                    this.isHidden = !this.isHidden;
                },
                toggleCollections : function(index, event){
                    const target = event.target;
                    if (target.classList.toggle("clicked")) {
                        this.printList.push({
                            _id: this.tests[index]._id,
                            testName : this.tests[index].testName
                        });
                    }
                    else {
                        const that = this;
                        that.printList = that.printList.filter( function(val, idx, arr){
                            return val._id != that.tests[index]._id;
                        });
                    }

                    //console.log(this.printList);
                },

                toPrint : async function(){
                    const printArea = document.querySelector("#printArea");
                    
                    const ajax = new Ajax();

                    for(list of this.printList){
                        const pdfHTML = await ajax.get("/tests/" + list._id);
                        printArea.innerHTML = pdfHTML;                
                        const doc = new jsPDF();        
                        await doc.fromHTML(printArea.querySelector("#showTest"), 10, 10);
                        //console.log(printArea.querySelector("#showTest"));
                        await doc.save(`${list.testName}.pdf`);
                    }

                
                    
                }
            }
        })
    </script>


<%- include('partials/footer') -%>